!!!
%html
  %head
    %title
      - if content_for? :title
        #{yield :title} | Business Skills Day 25
      - else
        Business Skills Day 25

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    :coffee
      $(() ->
        $("#main-navigation a").smoothScroll()
      )

  %body
    #header
      #session-header
        = render 'sessions/header'

    #main-image
      .container
        .row
          .span12
            = image_tag 'bsd/fde_gold.png'

    #main-navigation
      .dropdown
        = link_to 'About', '#about'
        %ul.dropdown-menu
          %li
            = link_to 'Business Skills Day', '#about-bsd'
            = link_to 'Phi Beta Lambda', '#about-pbl'
            = link_to 'Conference Fees', '#about-fees'
            = link_to 'Dress Code', '#about-dress'
            = link_to 'Events & Rules', '#about-rules'

      = link_to 'Schedule', '#schedule'
      = link_to 'Directions & Parking', '#parking'
      = link_to 'Registration', '#registration'
      = link_to 'Partners', '#partners'
      = link_to 'Contact', '#contact'

    #details.main-section.grey
      .container
        .row
          #where.information.span6
            %div
              %i.icon-map-marker

            %div
              %span.title Memorial Union
              %span.subtitle Arizona State University

            .info
              = link_to 'http://goo.gl/maps/hVKdl' do
                %address
                  301 E. Orange Mall
                  %br/
                  Tempe, AZ 85281

          #when.information.span6
            %div
              %i.icon-time

            %span.title December 6, 2013

    #about.main-section
      .container
        .row
          .information.span12
            %i.icon-info-sign
            %span.title About

        .row
          #about-bsd.span5.offset1
            .information
              %span.subtitle Business Skills Day:

            .media
              .media-body
                ASU Business Skills Day is a conference that is organized by ASU Phi Beta Lambda.
                The conference allows high school students to progress as leaders by participating
                in business related workshops, team-building activities, and over 25 different
                business and technology related competitions.

            .media
              .media-body
                It is an event that combines educational excellence, leadership, and ASU's spirit of community building. ASU
                Business Skills Day provides the perfect chance for Future Business Leaders of
                America students from all around Arizona to prepare for competition, both academic
                as well as in the business world.

            .media
              .media-body
                ASU Business Skills Day has taken place at ASU's
                main campus for the past 24 years and is completely organized and run by college
                students from ASU's Phi Beta Lambda Chapter.

          #about-pbl.span5
            .information
              %span.subtitle Phi Beta Lambda:

            .media
              .media-body
                ASU Phi Beta Lambda is the collegiate version of Future Business Leaders of America, the
                largest student business organization in the world. Besides organizing Business Skills Day,
                the members of the organization participate in all sorts of activities throughout the year,
                including raising money for charities like the March of Dimes.

            .media
              .media-body
                You can find out more information about ASU Phi Beta Lambda by going to its website, asupbl.org.

        .row
          #about-fees.span8.offset2
            .information
              %span.subtitle Conference Fees:
              %small (includes lunch)

            .media
              .media-body
                %p <strong>Normal Registration</strong> until November 21, 2013 for $30 per student.
                %p <strong>Late Registration</strong> from Nov. 22, 2013 to Dec. 2, 2013 for $40 per student. Note that performance events are not guaranteed during this time.

            .media
              .media-body
                %p We cannot accept PO’s. Refunds and changes cannot be made after December 31, 2013.

        .row
          #about-dress.span8.offset2
            .information
              %span.subtitle Dress Code:

            .media
              .media-body
                :markdown
                  Professional FBLA-PBL dress code is **required for the entire conference**.
                  Please see the last page for more information.

        .row
          #about-rules.span8.offset2
            .information
              %span.subtitle Events & Rules:

            .media
              .media-body
                %ul
                  %li Each student may only compete in three (3) events total, including no more than two (2) written tests and no more than one (1) performance event
                  %li Schools with attendees ranging from 1-24 may only register (2) students for each Individual Performance Event
                  %li Schools with attendees ranging from 24-49 may only register (3) students for each Individual Performance Event
                  %li Schools with 50 or more attendees may only register (4) students for each Individual Performance Event
                  %li Schools may only register one (1) team for each Team Performance Event (i.e., Entrepreneurship, Management Analysis, Jeopardy, and Business Graphics).

        .row
          #about-events.span8.offset2
            %table.table.table-hover
              %tr
                %th.events-written Written Objective Tests
                %th.events-performance Performance Events

              %tr
                %td 101 - Accounting I
                %td 301 - Public Speaking
              %tr
                %td 102 - Accounting II
                %td 302 - Impromptu Speaking
              %tr
                %td 103 - Business Calculations
                %td 303 - Job Interview
              %tr
                %td 104 - Business Communication
                %td 304 - Help Desk
              %tr
                %td 105 - Business Law
                %td 305 - Future Business Leader (Written test & Interview)
              %tr
                %td 106 - Business Math
                %td 401 - Business Graphics (Team)
              %tr
                %td 107 - Business Procedures
                %td 402 - Business Jeopardy (Team)
              %tr
                %td 108 - Cyber Security
                %td 403 – Management Decision Making (Team Written Exam AND Team Performance)
              %tr
                %td 109 - Economics
                %td 404 - Entrepreneurship  (Team Written Exam AND Team Performance)
              %tr
                %td 110 - FBLA Principles and Procedures
                %td
              %tr
                %td 111 - Introduction to Business
                %td
              %tr
                %td 112 - Introduction to Business Communication
                %td
              %tr
                %td 113 – Introduction to Technology Concepts
                %td
              %tr
                %td 114 - Marketing
                %td
              %tr
                %td 115 - Networking Concepts
                %td
              %tr
                %td 116 - Parliamentary Procedures (Written Test Only)
                %td
              %tr
                %td 117 – Sports Management
                %td
              %tr
                %td 118 – Technology Concepts
                %td


    #schedule.main-section.grey
      .container
        .row
          .information.span12
            %i.icon-calendar
            %span.title Schedule

        .row
          .span6.offset3
            .notice Schedule is tentative and subject to change.

            %table.table.table-hover
              %tr
                %td.schedule-event Registration
                %td.schedule-time 8:00-8:30
                
              %tr
                %td.schedule-event Opening Session
                %td.schedule-time 8:30-9:00

              %tr
                %td.schedule-event Individual Performance
                %td.schedule-time 9:15-12:00

              %tr
                %td.schedule-event Written Testing Session I
                %td.schedule-time 9:15-10:15

              %tr
                %td.schedule-event Written Testing Session II
                %td.schedule-time 10:30-11:30

              %tr
                %td.schedule-event Written Testing Session III
                %td.schedule-time 11:45-12:45

              %tr
                %td.schedule-event Team Performance & Individual Perform. Finals
                %td.schedule-time 1:00-3:00

              %tr
                %td.schedule-event Workshop Session I
                %td.schedule-time 1:00-1:45

              %tr
                %td.schedule-event Workshop Session II
                %td.schedule-time 2:00-2:45

              %tr
                %td.schedule-event Closing session/Raffle
                %td.schedule-time 3:00-3:15

              %tr
                %td.schedule-event Keynote Speaker
                %td.schedule-time 3:00-4:00

              %tr
                %td.schedule-event Award Ceremony
                %td.schedule-time 4:00-5:00


    #parking.main-section
      .container
        .row
          .information.span12
            %i.icon-truck
            %span.title Directions & Parking

        .row
          .span5.offset1
            :markdown
              The Arizona State University Memorial Union is located between *Mill Avenue* and *Rural Road* on *Apache Blvd* in Tempe.
              The competitions, opening, and closing sessions will be held in the Memorial Union.

              ASU Parking is located on the north side of Apache Blvd in the Apache Parking Structure. Personal vehicle parking is available in this lot for
              $10 for the entire day.  If buses need to be parked during the day of the conference there is available parking for buses.
              If you are going to require vehicle or bus parking you need to first confirm with Ben Glines or parking may not be granted.

              For directions to **ASU Tempe** campus or to the **Memorial Union** please visit:
              #{link_to 'http://www.asu.edu/map/interactive/', 'http://www.asu.edu/map/interactive/'}

          .span5
            = link_to 'http://www.asu.edu/map/interactive/' do
              = image_tag 'map.png', :class => 'asu-map'


    #registration.main-section.grey
      .container
        .row
          .span12
            #register.information
              %i.icon-plus
              .title Registration
        .row
          .span8.offset2
            .well.text-center.copy-large
              %p= link_to icon_title_new('Register your chapter.'), new_registration_url
              %br
              %p Normal registration is open until <strong>November 21</strong>.
              %p Late registration will be open from <strong>November 22</strong> to <strong>December 2</strong>.

    #partners.main-section
      .container
        .row
          .information.span12
            %i.icon-heart
            %span.title Partners

        .row
          .span3
            = link_to 'http://www.fbla-pbl.org/' do
              %img{ :src => 'https://origin.ih.constantcontact.com/fs074/1104038875541/img/31.jpg' }

          .span3
            = link_to 'http://wpcarey.asu.edu/' do
              %img{ :src => 'https://www.asu.edu/asuthemes/4.0/images/logos/ASUWPC_4CP_nobar.png' }

          .span3
            = link_to 'http://www.midfirst.com' do
              %img{ :src => 'https://www.midfirst.com/Images/Global/branding.gif' }

          .span3
            = link_to 'http://www.lavaasu.com/' do
              %img{ :src => 'http://www.lavaasu.com/uploads/1/0/7/6/10766174/1368694697.png' }

    #contact.main-section.grey
      .container
        .row
          .information.span12
            %i.icon-comment
            %span.title Contact

        .row
          .span6.offset3.text-center
            %p Contact <strong>Ben Glines</strong>, the Director of Business Skills Day, at <a href="mailto:bsd@asupbl.org">bsd@asupbl.org</a>.


    #footer
      .container
        .row
          .offset3.span3.text-right
            Copyright &copy; 2013 Arizona State University Phi Beta Lambda. All rights reserved.
          .span3.text-left
            %ul#contacts
              %li
                %i.icon-envelope
                = link_to 'bsd@asupbl.org', 'mailto:bsd@asupbl.org'
              %li
                %i.icon-facebook-sign
                = link_to '/asubsd', 'https://www.facebook.com/asubsd'
              %li
                %i.icon-twitter-sign
                = link_to '@asupbl', 'http://www.twitter.com/asupbl'
