- unless defined?(show_max)
  - show_all = true
- else
  - show_all = false

.row-fluid
  .section.span12
    - if defined? section_header
      = section_header
    - else
      %h4.title= icon_title_team 'Teams'

    %div
      - if teams.count > 0
        %p.muted
          %i.icon-info
          You have #{pluralize teams.count, 'registered team'}.
          - if can? :create, Team
            = link_to 'Add another?', new_chapter_team_path(@chapter)

        %table.table
          %th ID
          %th Event
          %th Students
          %th

          - if show_all
            - teams.each do |t|
              = render :partial => 'teams/table_row', :locals => { :team => t }
          - else
            - teams.limit(show_max).each do |t|
              = render :partial => 'teams/table_row', :locals => { :team => t }

        - if show_all
          = will_paginate teams
        - elsif show_max < teams.count
          = link_to 'View all teams', chapter_teams_path(@chapter), :class => 'btn btn-small'

      - else
        %div.alert.alert-error
          %i.icon-exclamation
          You have no registered teams.
          - if can? :create, Team
            = link_to 'Add one.', new_chapter_team_path(@chapter)