- unless defined?(show_max)
  - show_all = true
- else
  - show_all = false

.row-fluid
  .section.span12
    - if defined? section_header
      = section_header
    - else
      %h4.title= icon_title_adviser 'Advisers:'

    %div
      - if advisers.count > 0
        %p.muted
          %i.icon-info
          You have #{pluralize advisers.count, 'registered adviser'}.
          - if can? :create, Adviser
            = link_to 'Add another?', new_chapter_adviser_path(@chapter)

        %table.table
          %th Name
          %th

          - if show_all
            - advisers.each do |a|
              = render :partial => 'advisers/table_row', :locals => { :adviser => a }
          - else
            - advisers.limit(show_max).each do |a|
              = render :partial => 'advisers/table_row', :locals => { :adviser => a }

        - if show_all
          = will_paginate advisers
        - elsif show_max < advisers.count
          = link_to 'View all advisers', chapter_advisers_path(@chapter), :class => 'btn btn-small'

      - else
        %div.alert.alert-error
          %i.icon-exclamation
          You have no registered advisers.
          - if can? :create, Adviser
            = link_to 'Add one.', new_chapter_adviser_path(@chapter)