- title 'Dashboard'

- content_for :sidebar do
  = render :partial => 'admin/sidebar'

- if flash[:error].present?
  %p#notice.alert.alert-error= icon_title 'remove', flash[:error]

.row-fluid
  .span12
    %h1
      - case current_account
      - when AdminAccount
        %i.icon-key
        Administrative Dashboard
      - when StaffAccount
        %i.icon-shield
        Staff Dashboard

.row-fluid
  .span12.section
    %h4.title= icon_title 'info-sign', 'Statistics:'

    %div
      %p
        = icon_title_chapter "There are #{pluralize(@admin_chapters.count, 'chapter')}."
        = link_to 'View all chapters.', admin_chapters_path
      %p
        = icon_title_adviser "There are #{pluralize(@admin_advisers.count, 'adviser')}."
        = link_to 'View all advisers.', admin_advisers_path
      %p
        = icon_title_student "There are #{pluralize(@admin_students.count, 'student')}."
        = link_to 'View all students.', admin_students_path
      %p
        = icon_title_team    "There are #{pluralize(@admin_teams.count,    'team')}."
        = link_to 'View all teams.', admin_teams_path
      %p
        = icon_title_event   "There are #{pluralize(@admin_events.count,   'event')}."
        = link_to 'View all events.', admin_events_path
      %p
        = icon_title_result  "There are #{pluralize(@admin_results.count,  'result')}."
        = link_to 'View all results.', admin_results_path
      %p
        = icon_title_account "There are #{pluralize(@admin_accounts.count, 'account')}."
        = link_to 'View all accounts.', admin_accounts_path
