- title 'Dashboard'

- content_for :sidebar do
  = render :partial => 'admin/sidebar'

- if flash[:error].present?
  %p#notice.alert.alert-error= icon_title 'remove', flash[:error]

.row-fluid
  .span12
    %h1
      - case current_account
      - when AdminAccount
        %i.icon-key
        Administrative Dashboard
      - when StaffAccount
        %i.icon-shield
        Staff Dashboard

.row-fluid
  .span12.section
    #dashboard
      - if can? :read, Chapter
        = link_to admin_chapters_path, :class => 'item' do
          .inner
            .icon= icon_title_chapter
            .title #{pluralize(@admin_chapters.count, 'chapter')}

      - if can? :read, Adviser
        = link_to admin_advisers_path, :class => 'item' do
          .inner
            .icon= icon_title_adviser
            .title #{pluralize(@admin_advisers.count, 'adviser')}

      - if can? :read, Student
        = link_to admin_students_path, :class => 'item' do
          .inner
            .icon= icon_title_student
            .title #{pluralize(@admin_students.count, 'student')}

      - if can? :read, Team
        = link_to admin_teams_path, :class => 'item' do
          .inner
            .icon= icon_title_team
            .title #{pluralize(@admin_teams.count, 'team')}

      - if can? :read, Event
        = link_to admin_events_path, :class => 'item' do
          .inner
            .icon= icon_title_event
            .title #{pluralize(@admin_events.count, 'event')}

      - if can? :read, Result
        = link_to admin_results_path, :class => 'item' do
          .inner
            .icon= icon_title_result
            .title #{pluralize(@admin_results.count, 'result')}

      - if can? :read, Registration
        = link_to admin_accounts_path, :class => 'item' do
          .inner
            .icon= icon_title_account
            .title #{pluralize(@admin_accounts.count, 'account')}

      - if can? :read, Registration
        = link_to admin_registrations_path, :class => 'item' do
          .inner
            .icon= icon_title_registration
            .title #{pluralize(@admin_registrations.count, 'registration')}

      = link_to admin_tools_path, :class => 'item' do
        .inner
          .icon= icon_title 'wrench', ''
          .title Tools
