= simple_form_for(@admin_event, :as => :admin_event, :url => admin_event_path(@admin_event), :html => { :class => 'form form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :number
    = f.input :name
    = f.input :type, :as => :select, :collection => Event.types, :label_method => ->(t){ t.underscore.humanize }
    = f.input :nine_ten, :label => 'Only grades 9 and 10?', :wrapper => :inline_checkbox

  .form-actions
    = f.button :submit
