- unless defined?(show_max)
  - show_all = true
- else
  - show_all = false

.row-fluid
  .section.span12
    - if defined? section_header
      = section_header
    - else
      %h4.title= icon_title_student 'Students:'

    %div
      - if students.count > 0
        %p.muted
          %i.icon-info
          You have #{pluralize students.count, 'registered student'}.
          - if can? :create, Student
            = link_to 'Add another?', new_chapter_student_path(@chapter)

        %table.table
          %th ID
          %th Name
          %th Grade
          %th Events
          %th

          - if show_all
            - students.each do |s|
              = render :partial => 'students/table_row', :locals => { :student => s }
          - else
            - students.limit(show_max).each do |s|
              = render :partial => 'students/table_row', :locals => { :student => s }

        - if show_all
          = will_paginate students
        - elsif show_max < students.count
          = link_to 'View all students', chapter_students_path(@chapter), :class => 'btn btn-small'

      - else
        %div.alert.alert-error
          %i.icon-exclamation
          You have no registered students.
          - if can? :create, Student
            = link_to 'Add one.', new_chapter_student_path(@chapter)