- title "Results for #{@event.name}"

- content_for :sidebar do
  = render :partial => 'admin/sidebar'

- if notice.present?
  %p#notice.alert.alert-success= notice

- content_for :section_header do
  %h1= icon_title_result "Results for #{link_to event_with_icon(@event), admin_event_path(@event)}"

= render :partial => 'index', :locals => { :event => @event, :results => @results, :section_header => content_for(:section_header) }