%tr
  %td.student-id= student.id
  %td.student-name= link_to student.name, chapter_student_path(student.chapter, student)
  %td.student-chapter= link_to student.chapter.name, chapter_path(student.chapter)
  %td
    = link_to_edit student, edit_chapter_student_path(student.chapter, student)
    = link_to_delete student, delete_chapter_student_path(student.chapter, student)
