%ul.nav.nav-list
  - case current_account
  - when AdminAccount
    = sidebar_header 'Admin', :icon => 'icon-key'
  - when StaffAccount
    = sidebar_header 'Staff', :icon => 'icon-shield'
  = sidebar_link 'Dashboard', admin_path, :controller => 'main', :action => ['index']
  = sidebar_link 'Chapters', admin_chapters_path, :controller => 'chapters', :action => ['index', 'new', 'create']
  = sidebar_link 'Advisers', admin_advisers_path, :controller => 'advisers', :action => ['index', 'new', 'create']
  = sidebar_link 'Students', admin_students_path, :controller => 'students', :action => ['index', 'new', 'create']
  = sidebar_link 'Teams', admin_teams_path, :controller => 'teams', :action => ['index', 'new', 'create']
  = sidebar_link 'Events', admin_events_path, :controller => 'events'
  = sidebar_link 'Results', admin_results_path, :controller => 'results'

  - if can? :manage, Account
    = sidebar_link 'Accounts', admin_accounts_path, :controller => 'accounts'

  - if can? :manage, Registration
    = sidebar_link 'Registrations', admin_registrations_path, :controller => 'registrations'