= simple_form_for @chapter, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification

  .form-inputs
    = f.input :contact, :label => 'Contact Person', :hint => "Contact's full name"
    = f.input :email, :hint => "Contact's email address"
    %hr
    = f.input :address
    = f.input :city
    = f.input :state, :collection => us_states
    = f.input :zip

  .form-actions
    = f.button :submit
