- title "#{@chapter.name}"

- content_for :sidebar do
  = render :partial => 'sidebar', :locals => { :chapter => @chapter }

- if flash[:error].present?
  %p#notice.alert.alert-error= icon_title 'remove', flash[:error]

- if notice.present?
  %p#notice.alert.alert-success= notice

%h1= icon_title_chapter @chapter.name

.row-fluid
  .section.span6
    %h4.title= icon_title 'phone', 'Contact:'

    %div
      %span= icon_title_student @chapter.contact
      %br/
      %span= icon_title 'envelope', mail_to(@chapter.email)

  .section.span6
    %h4.title= icon_title 'map-marker', 'Address:'

    %div
      %span= @chapter.address
      %br/
      %span #{@chapter.city}, #{@chapter.state} #{@chapter.zip}

= render :partial => 'advisers/index', :locals => { :advisers => @chapter.advisers, :show_max => 5 }

= render :partial => 'students/index', :locals => { :students => @chapter.students, :show_max => 5 }

= render :partial => 'teams/index', :locals => { :teams => @chapter.teams, :show_max => 5 }